In [106]:
import pandas as pd

## Analysis with Pandas

In [108]:
df = pd.read_csv('PyBank/Resources/budget_data.csv')
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179
20  Sep-2011         899906
21  Oct-2011         834719
22  Nov-2011         132003
23  Dec-2011         309978
24  Jan-2012        -755566
25  Feb-2012        1170593
26  Mar-2012         252788
27  Apr-2012        1151518
28  May-2012         817256
29  Jun-2012         570757
30  Jul-2012         506702
31  Aug-2012       -1022534
32  Sep-2012         475062
33  Oct-2012         779976
34  Nov-2012         144175
35  Dec-2012         542494
36  Jan-2013         359333
37  Feb-2013         321469
38  Mar-2013          67780
39  Apr-2013         471435
40  May-2013         565603
41  Jun-2013         872480
42  Jul-2013         789480
43  Aug-2013         999942
44  Sep-2013       -1196225
45  Oct-2013         268997
46  Nov-2013        -687986
47  Dec-2013        1150461
48  Jan-2014         682458
49  Feb-2014         617856
50  Mar-2014         824098
51  Apr-2014         581943
52  May-2014         132864
53  Jun-2014         448062
54  Jul-2014         689161
55  Aug-2014         800701
56  Sep-2014        1166643
57  Oct-2014         947333
58  Nov-2014         578668
59  Dec-2014         988505
60  Jan-2015        1139715
61  Feb-2015        1029471
62  Mar-2015         687533
63  Apr-2015        -524626
64  May-2015         158620
65  Jun-2015          87795
66  Jul-2015         423389
67  Aug-2015         840723
68  Sep-2015         568529
69  Oct-2015         332067
70  Nov-2015         989499
71  Dec-2015         778237
72  Jan-2016         650000
73  Feb-2016       -1100387
74  Mar-2016        -174946
75  Apr-2016         757143
76  May-2016         445709
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [109]:
# for average of change
df['shifted_column'] = df['Profit/Losses'].shift(1)
df['change'] = df['shifted_column'] - df['Profit/Losses']

# for greatest Increase in profit 
max_increase = df[df['Profit/Losses'] == df['Profit/Losses'].max()]

# for greatest decrease in profit
max_decrease = df[df['Profit/Losses'] == df['Profit/Losses'].min()]

In [112]:
print("Financial Analysis")
print("-"*25)
print("Total Months:", len(df))
print("Total: ${}".format(df['Profit/Losses'].sum()))
print("Average  Change: ${:.2f}".format(-df['change'].mean()))
print("Greatest Increase in Profits: {} (${})".format(max_increase['Date'].values[0], -max_increase['change'].values[0]))
print("Greatest Decrease in Profits: {} (${})".format(max_decrease['Date'].values[0], -max_decrease['change'].values[0]))

Financial Analysis
-------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [95]:
# Write to file

with open("financial_Analysis_with_pandas.txt", 'w') as file:
    file.write("Financial Analysis\n")
    file.write("-"*25 + '\n')
    file.write("Total Months:" + str(len(df)) +"\n")
    file.write("Total: ${}\n".format(df['Profit/Losses'].sum()))
    file.write("Average  Change: ${:.2f}\n".format(df['change'].mean()))
    file.write("Greatest Increase in Profits: {} (${})\n".format(max_increase['Date'].values[0], max_increase['Profit/Losses'].values[0]))
    file.write("Greatest Decrease in Profits: {} (${})\n".format(max_decrease['Date'].values[0], max_decrease['Profit/Losses'].values[0]))
    
    print("Data Exported to file 'financial_Analysis_with_pandas.txt'")

Data Exported to file 'financial_Analysis_with_pandas.txt'

## Analysis without using pandas or any imported library

In [67]:
with open('budget_data.csv') as file:
    data = []
    for line in file.readlines():
        line = line.strip('\n').split(',')
        data.append(line)
# remove columns name
data = data[1:]

In [122]:
# only profit/loss column 
months = [months[0] for months in data]
profit_loss = [int(profit_loss[1]) for profit_loss in data]


total_months = len(data)
total = sum(profit_loss)  # sum of all the profit/loss column values

# getting change
average_change = [int(data[i+1][1])-int(data[i][1]) for i in range(len(data)-1)]

# max_increase in profits and the month
max_increase = max(average_change)
max_increase_month = months[average_change.index(max_increase)+1]

# max_decrease in profits and the month
max_decrease = min(average_change)
max_decrease_month = months[average_change.index(max_decrease)+1]

# getting average change
average_change = sum(average_change)/len(average_change)

In [123]:
print("Financial Analysis")
print("-"*25)
print("Total Months:", total_months)
print("Total: ${}".format(total))
print("Average  Change: ${:.2f}".format(average_change))
print("Greatest Increase in Profits: {} (${})".format(max_increase_month, max_increase))
print("Greatest Decrease in Profits: {} (${})".format(max_decrease_month, max_decrease))

Financial Analysis
-------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [124]:
# Write to file

with open("financial_Analysis_without_pandas.txt", 'w') as file:
    file.write("Financial Analysis\n")
    file.write("-"*25+"\n")
    file.write("Total Months: {}\n".format(total_months))
    file.write("Total: ${}\n".format(total))
    file.write("Average  Change: ${:.2f}\n".format(average_change))
    file.write("Greatest Increase in Profits: {} (${})\n".format(max_increase_month, max_increase))
    file.write("Greatest Decrease in Profits: {} (${})\n".format(max_decrease_month, max_decrease))
    
    print("Data Exported to file 'financial_Analysis_without_pandas.txt'")

Data Exported to file 'financial_Analysis_without_pandas.txt'